@use "../../styles/index" as *;

.toggle-button {
    @include padding(0.5);
    @extend %rounded-border;
    align-items: center;
    background-color: $navyBlack;
    border: $borderThickness solid $navyBlack;
    display: flex;
    justify-content: space-between;
    gap: 0.75rem;
    
    .toggle-button-item {
        @extend %rounded-border;
        @extend %padding;
        background-color: $trueGray;
        color: $nonFocusedDarkModeTextColor;
        font-size: $smallFontSize;
        font-weight: $fontWeightNormal;

        &.active {
            background-color: $active;
            color: $lightModeTextColor;
            font-weight: $fontWeightBold;
        }
    }
}

@media (hover: hover) and (pointer: fine) {
    .toggle-button {
        .toggle-button-item {
            &:hover {
                background-color: $gold;
                color: $lightModeTextColor;
                cursor: pointer;
                font-weight: $fontWeightBold;
            }

            &.active {
                background-color: $active;
                color: $lightModeTextColor;
            }
        }
    }
}