@use "../../styles/index" as *;

$borderThickness: 5px;
.quiz-type {
    @include padding(2);
    @extend %rounded-border;
    align-items: center;
    background-color: $darkGray;
    border: $borderThickness solid $darkGray;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
    width: 100%;

    &:hover {
        cursor: pointer;
    }

    &.is-selected {
        border: $borderThickness solid $active;
    }

    input {
        text-align: center;
    }
}