@use "../../styles/index" as *;

$borderThickness: 5px;
.quiz-type {
    @include padding(3);
    @extend %rounded-border;
    align-items: center;
    background-color: $darkGray;
    border: $borderThickness solid $darkGray;
    display: flex;
    flex-direction: column;
    height: 90%;
    justify-content: space-between;
    width: 50%;
    
    .quiz-type-header {
        align-items: center;
        display: flex;
        flex-direction: column;
        
        $iconSize: 8rem;
        .icon {
            font-size: 3rem;
            height: $iconSize;
            width: $iconSize;

            &.crimson {
                background-color: crimson;
            }

            &.lightgreen {
                background-color: lightgreen;
            }

            &.lightskyblue {
                background-color: lightskyblue;
            }

            &.gold {
                background-color: gold;
            }
        }

        .quiz-type-title {
            font-size: $mediumFontSize;
            font-weight: $fontWeightBold;
            margin-top: 1rem;
            text-align: center;
        }
    }

    .quiz-type-description {
        font-size: $smallFontSize;
        text-align: center;
    }

    .quiz-type-input {
        align-items: center;
        display: flex;
        flex-direction: column;

        .amount {
            font-size: $smallFontSize;
            margin-bottom: 0.25rem;
        }

        input {
            @extend %rounded-border;
            border: none;
            text-align: center;
        }
    }
    
    &.is-selected {
        border: $borderThickness solid $active;
    }
}

@media (hover: hover) and (pointer: fine) {
    .quiz-type {
        &:hover {
            cursor: pointer;
        }
    }
}

@media (max-width: $sizeWidthThreshhold) {
    .quiz-type {
        @include padding(1);
        height: 100%;
        width: 100%;

        .quiz-type-header {
            .quiz-type-title {
                font-size: $smallFontSize;
            }

            $mobileIconSize: 6rem;
            .icon {
                font-size: $largeFontSize;
                height: $mobileIconSize;
                width: $mobileIconSize;
            }
        }

        .quiz-type-input {    
            .amount {
                font-size: $miniFontSize;
            }
        }
    }
}