@use "../../common/styles/index" as *;

.direction-toggle {
    align-items: center;
    display: flex;
    justify-content: space-evenly;

    .direction-toggle-button {
        align-items: center;
        background-color: transparent;
        border-radius: 50%;
        display: flex;
        height: $largeIconSize;
        justify-content: center;
        width: $largeIconSize;

        .icon {
            color: $active;
        }
    }

    &.disabled {
        opacity: $disabledOpacity;
    }
}

@media (hover: hover) and (pointer: fine) {
    .direction-toggle {
        &:not(.disabled) {
            .icon {
                &:hover {
                    color: $gold;
                    cursor: pointer;
                }
            }
        }
    }
}