@use "../../styles/index" as *;

$toggleButtonSize: $miniIconSize;
$paddingMultiplier: 0.5;
$toggleSwitchWidth: calc($toggleButtonSize * 3);
$toggleSwitchPadding: calc($padding * $paddingMultiplier);

.toggle-switch {
    @include padding($paddingMultiplier);
    align-items: center;
    background-color: $richGray;
    border-radius: calc($borderRadius * 1.75);
    display: flex;
    height: calc($toggleButtonSize * 1.5);
    position: relative;
    transition: all 0.3s ease-in-out;
    width: $toggleSwitchWidth;

    .toggle-switch-button {
        border-radius: 50%;
        height: $toggleButtonSize;
        position: absolute;
        transition: all 0.3s ease-in-out;
        width: $toggleButtonSize;
    }

    &.activated {
        background-color: $active;

        .toggle-switch-button {
            left: calc($toggleSwitchWidth - $toggleSwitchPadding - $toggleButtonSize);
        }
    }
    
    &.deactivated {
        .toggle-switch-button {
            left: $toggleSwitchPadding;
        }
    }

    &.disabled {
        background-color: $richBlack;

        .toggle-switch-button {
            background-color: $richGray;
            left: $toggleSwitchPadding;
        }
    }
}

$smallToggleButtonSize: $miniIconSize;
$smallToggleSwitchWidth: calc($smallToggleButtonSize * 3);

@media (max-width: $sizeWidthThreshhold) {
    .toggle-switch {
        height: calc($smallToggleButtonSize * 1.5);
        width: $smallToggleSwitchWidth;

        .toggle-switch-button {
            height: $smallToggleButtonSize;
            width: $smallToggleButtonSize;
        }

        &.activated {
            .toggle-switch-button {
                left: calc($smallToggleSwitchWidth - $toggleSwitchPadding - $smallToggleButtonSize);
            }
        }
        
        &.deactivated {
            .toggle-switch-button {
                left: $toggleSwitchPadding;
            }
        }
    }
}

@media (hover: hover) and (pointer: fine) {
    .toggle-switch {
        .toggle-switch-button {
            &:hover {
                cursor: pointer;
            }
        }

        &.disabled {
            .toggle-switch-button {
                &:hover {
                    cursor: auto;
                }
            }
        }
    }
}