@use "../../common/styles/index" as *;

$kanaButtonMargin: 0.25rem;
$buttonHeight: 3rem;
$wideKanaButtonWidth: 6rem;
$kanaButtonWidth: 4rem;

.kana-button {
    height: $buttonHeight;
    margin-left: $kanaButtonMargin;
    margin-right: $kanaButtonMargin;
    min-width: $kanaButtonWidth;
    width: $kanaButtonWidth;

        
    &.wide-button {
        min-width: $wideKanaButtonWidth;
    }

    &.is-selected {
        @include button-press($active);
        background-color: $active;
        color: $lightModeTextColor;
    }

    &.disable-on-click {
        // can't @extend %disable-button-press in media query, so direct paste
        box-shadow: none;

        &:active {
            transform: none;
        }
    }

    &.is-kana {
        font-family: 'Noto Sans JP', sans-serif !important;
    }

    &.is-search-target {
        border: $borderThickness solid $gold;
        width: calc($kanaButtonWidth + ($borderThickness * 2));

        &.wide-button {
            width: calc($wideKanaButtonWidth + ($borderThickness * 2));
        }
    }
}

@media (hover: hover) and (pointer: fine) {
    .kana-button {
        &.is-selected {
            &:not(.disable-on-click):hover {
                @include button-press($lightActive);
                background-color: $lightActive;
                cursor: pointer;
            }
        }

        &.disable-on-click {
            // can't @extend %disable-button-press in media query, so direct paste
            box-shadow: none;

            &:active {
                transform: none;
            }

            &:hover {
                cursor: auto;
            }
        }
    }
}