@use "../../common/styles/index" as *;

$selectAllButtonWidth: 3rem;
$selectAllButtonMargin: 1.5rem;

.button-row {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;

    .select-all-button {
        @include button-press($lightNavy);
        background-color: $lightNavy;
        color: $nonFocusedDarkModeTextColor;
        margin-right: $selectAllButtonMargin;
        width: $selectAllButtonWidth;
    }
}

@media (hover: hover) and (pointer: fine) {
    .button-row {
        .select-all-button {
            &:hover {
                @include button-press($gold);
                background-color: $gold;
                color: $lightModeTextColor
            }
        }
    }
}