@use "../../styles/index" as *;

.button-group {
    @include rounded-border(1.5);
    align-items: center;
    background-color: $darkNavy;
    display: flex;
    gap: 0.75rem;
    justify-content: space-between;
    padding: $buttonGroupPadding;
    padding-bottom: calc($buttonGroupPadding + $buttonShadowHeight);

    &.is-vertical {
        flex-direction: column;
    }

    &.disabled {
        opacity: $disabledOpacity;
    }

    button {
        font-size: $smallFontSize;
    }

    .button {
        @include button-press($darkNavy);
        background-color: $darkNavy;
        border: 1px solid shadowColor($darkNavy);
        color: $nonFocusedDarkModeTextColor;
        width: 100%;

        &.is-active {
            @include button-press($active);
            background-color: $active;
            border: none;
            color: $lightModeTextColor;
            font-weight: $fontWeightBold;
        }
    }
}

@media (hover: hover) and (pointer: fine) {
    .button-group {
        .button {
            &:not(.is-active):hover {
                border: 1px solid $gold;
            }
        }
    }
}