@use "../../common/styles/index" as *;
@use "../../styles/index" as *;

.word-group-section {
    @extend %rounded-border;
    @extend %padding;
    align-items: center;
    background-color: $darkNavy;
    display: flex;
    height: $quizSelectionSectionHeight;
    justify-content: space-between;
    width: 100%;

    .word-group-title {
        text-align: center;
        width: 77%;;
    }
}