$lightModeTextColor: #000;
$darkModeTextColor: #ffffff;
$nonFocusedDarkModeTextColor: rgba(255, 255, 255, 0.65);

$richBlack: #010818;
$darkNavy: #09153a;
$lightNavy: #1f3278;
$richGray: #273242;
$mediumGray: #343e4e;

$offWhite: #c0bebe;

$disabled: #585b5f;

$lightActive: #47e2ff;
$active: #00b5e7;

$complete: #39d71a;

$gold: #ffc403;
$unsaturatedGold: #ffc544;

$crimson: #b9000b;
$trueRed: #ee0f2d;
$peach: #ff5652;