$lightModeTextColor: #000;
$darkModeTextColor: #ffffff;
$nonFocusedDarkModeTextColor: rgba(255, 255, 255, 0.25);

$richBlack: #010818; // screen background
$navyBlack: #06152a; // secondary item background
$trueGray: #1f2939; // primary item background

$lightActive: #47e2ff;
$active: #00b5e7;

$complete: #39d71a;

$gold: #ffc403;
$unsaturatedGold: #ffc544;

$crimson: #b9000b;
$trueRed: #ee0f2d;
$peach: #ff5652;