$lightModeTextColor: #000;
$darkModeTextColor: #ffffff;
$nonFocusedDarkModeTextColor: rgba(255, 255, 255, 0.65);

$backdropColor: rgba(0, 0, 0, 0.85);

$richBlack: #010818;
$black: #202020;
$lightBlack: #343434;

$darkNavy: #09163d;
$lightNavy: #1f3278;

$richGray: #273242;
$gray: #444444;

$offWhite: #c0bebe;

$royalPurple: #501ea8;

$lightActive: #47e2ff;
$active: #00b5e7;

$darkComplete: #2fa916;
$complete: #20c300;
$lightComplete: #7fd26f;

$gold: #ffc403;
$unsaturatedGold: #ffc544;

$richOrange: #FF5D00;

$darkCrimson: #9c010b;
$crimson: #b9000b;
$trueRed: #ee0f2d;
$lightRed: #f74a4a;
$peach: #ff5652;