@use "sass:color" as color;
@use "./values" as *;
@use "./colors" as *;

@mixin rounded-border($multiplier: 1) {
    $updatedBorderRadius: calc($borderRadius * $multiplier);

    border-radius: $updatedBorderRadius;
}

@mixin padding($multiplier: 1) {
    $updatedHalfPadding: calc($halfPadding * $multiplier);
    $updatedPadding :calc($padding * $multiplier);

    padding: $updatedHalfPadding $updatedPadding $updatedHalfPadding $updatedPadding;
}

@mixin box-shadow(
    $xOffset: 0px,
    $yOffset: 5px,
    $blurRadius: 15px,
    $spreadRadius: 0px,
    $color: rgba(255, 255, 255, 0.1),
    $inset: false
) {
    @if $inset {
      -webkit-box-shadow: inset $xOffset $yOffset $blurRadius $spreadRadius $color;
      -moz-box-shadow: inset $xOffset $yOffset $blurRadius $spreadRadius $color;
      box-shadow:inset $xOffset $yOffset $blurRadius $spreadRadius $color;

    } @else {
      -webkit-box-shadow: $xOffset $yOffset $blurRadius $spreadRadius $color;
      -moz-box-shadow: $xOffset $yOffset $blurRadius $spreadRadius $color;
      box-shadow: $xOffset $yOffset $blurRadius $spreadRadius $color;
    }
}

@mixin button-press($buttonColor: $richGray) {
    $shadowColor: #{color.adjust($buttonColor, $lightness: -6%, $saturation: 15%)};
    $shadowHeight: 3px;

    @include box-shadow($color: $shadowColor, $blurRadius: 0px, $yOffset: $shadowHeight);

    &:active {
        box-shadow: none;
        transform: translateY($shadowHeight);
    }
}

// only show content to screen readers
// setting display to "none" hides for screen readers as well
.visually-hidden {
    border: 0; 
    clip: rect(0 0 0 0); 
    height: 1px;
    margin: -1px;
    overflow: hidden; 
    padding: 0;
    position: absolute; 
    width: 1px; 
}

.stuck {
    position: sticky;
}

.bold {
    font-weight: $fontWeightBold;
}

%rounded-border {
    border-radius: $borderRadius;
}

$halfPadding: calc($padding / 2);
%padding {
    padding: $halfPadding $padding $halfPadding $padding;
}

%disable-button-press {
    box-shadow: none;

    &:active {
        transform: none;
    }
}