$borderThickness: 2px;
$borderRadius: 0.85rem;

$microFontSize: .85rem;
$miniFontSize: 1.15rem;
$smallFontSize: 1.5rem;
$mediumFontSize: 1.85rem;
$largeFontSize: 2.25rem;

$fontWeightNormal: 400;
$fontWeightSemiBold: 500;
$fontWeightBold: 600;
$fontWeightSuperBold: 800;

$miniIconSize: 2rem;
$smallIconSize: 2.75rem;
$mediumIconSize: 3.5rem;
$largeIconSize: 4.5rem;

$sectionSpacing: 1.5rem;

$padding: 1rem;

$overlayZIndex: 1;
$modalZIndex: 2;

// this value is expected to match the SCREEN_WIDTH_THRESHHOLD variable in constants.tsx
$sizeWidthThreshhold: 600px;
// this value is expected to match the SCREEN_HEIGHT_THRESHHOLD variable in constants.tsx
$sizeHeightThreshhold: 950px;
// this value is expected to match the LANDSCAPE_MOBILE_SCREEN_HEIGHT_THRESHHOLD variable in constants.tsx
$landscapeMobileHeightThreshhold: 550px;

$disabledOpacity: 0.4;