$borderThickness: 2px;
$borderRadius: 0.85rem;

$miniFontSize: 1.15rem;
$smallFontSize: 1.5rem;
$mediumFontSize: 1.85rem;
$largeFontSize: 2.25rem;

$fontWeightNormal: 400;
$fontWeightSemiBold: 500;
$fontWeightBold: 600;
$fontWeightSuperBold: 800;

$miniIconSize: 1.25rem;
$smallIconSize: 2rem;
$mediumIconSize: 3rem;
$largeIconSize: 4rem;

$sectionSpacing: 1.5rem;

$padding: 1rem;

$overlayZIndex: 1;
$modalZIndex: 2;

$sizeWidthThreshhold: 600px;
$sizeHeightThreshhold: 950px;