@use "../../styles/index" as *;

.icon {
    align-items: center;
    border-radius: 50%;
    box-sizing: border-box !important;
    display: flex;
    font-weight: $fontWeightSuperBold;
    justify-content: center;

    &.mini {
        font-size: $miniFontSize;
        height: $miniIconSize;
        width: $miniIconSize;
    }

    &.sm {
        font-size: $smallFontSize;
        height: $smallIconSize;
        width: $smallIconSize;
    }
    
    &.md {
        font-size: $mediumFontSize;
        height: $mediumIconSize;
        width: $mediumIconSize;
    }
    
    &.lg {
        font-size: $largeFontSize;
        height: $largeIconSize;
        width: $largeIconSize;
    }

    img {
        height: 100%;
        width: 100%;
    }
}