@use "../../../styles/index" as *;

.icon {
    align-items: center;
    border-radius: 50%;
    box-sizing: border-box !important;
    display: flex;
    font-weight: bold;
    justify-content: center;

    &.sm {
        height: $smallIconSize;
        width: $smallIconSize;
    }
    
    &.md {
        height: $mediumIconSize;
        width: $mediumIconSize;
    }
    
    &.lg {
        height: $largeIconSize;
        width: $largeIconSize;
    }
}