@use "../../styles/index" as *;

$numberInputMaxWidth: 5rem;

.number-input {
    align-items: center;
    display: flex;
    flex-direction: column;

    .number-input-title {
        margin-bottom: 0.25rem;
    }

    .number-input-content {
        align-items: center;
        display: flex;
        
        input {
            @extend %rounded-border;
            background-color: $darkNavy;
            border: $borderThickness solid $lightNavy;
            color: $darkModeTextColor;
            font-weight: $fontWeightBold;
            max-width: $numberInputMaxWidth;
            text-align: center;
        }

        input[type = number]::-webkit-inner-spin-button, 
        input[type = number]::-webkit-outer-spin-button { 
            -webkit-appearance: none; 
            display: none;
        }
    }

    .icon {
        color: $active;
    }

    &.sm, &.mini {
        .number-input-title, input {
            font-size: $miniFontSize;
        }
    }
    
    &.md {
        .number-input-title, input {
            font-size: $smallFontSize;
        }
    }
    
    &.lg {
        .number-input-title, input {
            font-size: $mediumFontSize;
        }
    }
}

@media (max-width: $sizeWidthThreshhold) {
    .number-input {    
        .number-input-title {
            font-size: $miniFontSize;
        }
    }
}

@media (hover: hover) and (pointer: fine) {
    .number-input {
        .icon {
            &:hover {
                cursor: pointer;
                color: $gold;
            }
            
            &:disabled {
                cursor: auto;
            }
        }
    }
}