@use "../../../styles/index" as *;

.toggle {
    @include padding(0.25);
    @extend %rounded-border;
    align-items: center;
    background-color: $lightGray;
    border: $borderThickness solid $lightGray;
    display: flex;
    
    .toggle-button {
        @extend %rounded-border;
        @extend %padding;
        font-size: $smallFontSize;
        font-weight: $fontWeightNormal;

        &.active {
            background-color: $darkGray;
            font-weight: $fontWeightBold;
        }
    }

    .left {
        margin-right: calc($borderThickness / 2);
    }

    .right {
        margin-left: calc($borderThickness / 2);
    }
}

@media (hover: hover) and (pointer: fine) {
    .toggle {
        .toggle-button {
            &:hover {
                background-color: $mediumGray;
                cursor: pointer;
            }
        }
    }
}