@use "../../../styles/index" as *;

.toggle {
    @extend %rounded-border;
    align-items: center;
    background-color: $lightGray;
    border: $borderThickness solid $lightGray;
    display: flex;
    
    .toggle-button {
        @extend %rounded-border;
        @extend %padding;
        font-size: $smallFontSize;
        font-weight: $fontWeightNormal;
        
        &:hover {
            background-color: $mediumGray;
            cursor: pointer;
        }

        &.active {
            background-color: $darkGray;
            font-weight: $fontWeightBold;
        }
    }

    .left {
        margin-right: calc($borderThickness / 2);
    }

    .right {
        margin-left: calc($borderThickness / 2);
    }
}