@use "../common/styles/index" as *;

%page {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
}

%call-to-action {
    color: $unsaturatedGold;
    font-size: $smallFontSize;
    margin-bottom: $sectionSpacing;
}

%modal {
    @include padding(2.5);
    @extend %rounded-border;
    align-items: center;
    background-color: $darkNavy;
    color: $darkModeTextColor;
    display: flex;
    flex-direction: column;
    max-height: 70vh;
    margin: auto;
    overflow-y: auto;
    width: fit-content;
}