$borderThickness: 2px;
$borderRadius: 0.85rem;

$smallFontSize: 1.5rem;
$mediumFontSize: 1.85rem;
$largeFontSize: 2.25rem;

$smallIconSize: 1.5rem;
$mediumIconSize: 2rem;
$largeIconSize: 3rem;

$sectionSpacing: 3rem;

$padding: 1rem;

$overlayZIndex: 1;