@use "../common/styles/values" as *;

// ----- QUIZ SELECTION SECTION -----
$quizSelectionSectionHeight: 6rem;

// ----- Header -----
$headerHeight: 5rem;
$headerSpacing: calc($sectionSpacing / 3);