@use "../common/styles/index" as *;
@use "../components/header/Header.scss" as *;
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@200;300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    font-family: "Nunito", sans-serif !important;

    &:focus {
        outline-color: $gold;
    }
}

html {
    background-color: $richBlack;
    font-size: 10px; // sets 1 rem = 10px instead of 16px
    color: $darkModeTextColor;
    
    body {
        font-size: $mediumFontSize;
        margin: 0;
        
        button {
            border: none;
            color: $darkModeTextColor;
            font-size: $mediumFontSize;
        }

        input {
            font-size: $smallFontSize;
            outline: transparent;
        }

        $scrollbarThickness: 3px;
        ::-webkit-scrollbar {
            width: $scrollbarThickness;
            height: $scrollbarThickness;
        }

        ::-webkit-scrollbar-corner {
            background-color: transparent;
        }

        $scrollBarBorderRadius: 0.5rem;
        ::-webkit-scrollbar-track {
            background-color: transparent;
            border-radius: $scrollBarBorderRadius;
            margin: 0.75rem;
        }

        ::-webkit-scrollbar-thumb {
            background-color: $lightGray;
            border-radius: $scrollBarBorderRadius;
        }
    }
}

.app {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    
    .page {
        height: calc(92% - $headerHeight - $headerSpacing);
        overflow-y: auto;
    }

    .page-carousel {
        bottom: 0;
        height: 8%;
        position: sticky;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}

@media (max-height: $sizeHeightThreshhold) {
    .app {        
        .page {
            height: calc(88% - $headerHeight - $headerSpacing);
        }
    
        .page-carousel {
            height: 12%;
        }
    }
}

@media (max-height: $landscapeMobileHeightThreshhold) {
    .app {        
        .page {
            height: calc(82% - $headerHeight - $headerSpacing);
        }
    
        .page-carousel {
            height: 18%;
        }
    }
}

@media (hover: hover) and (pointer: fine) {
    html {        
        body {    
            input {
                &::-webkit-search-cancel-button {
                    &:hover {
                        cursor: pointer;
                    }
                }
            }

            ::-webkit-scrollbar-thumb {                
                &:hover {
                    background-color: $richBlack;
                    cursor: pointer;
                }
            }
        }
    }
}
