@use "../../common/styles/index" as *;

.question-breakdown {
    @extend %rounded-border;
    @extend %padding;
    align-items: center;
    background-color: $lightRed;
    color: $darkModeTextColor;
    display: flex;
    font-weight: $fontWeightSuperBold;
    justify-content: space-between;

    .result {
        display: flex;

        .icon {
            background-color: $darkModeTextColor;
            color: $lightRed;
            margin-right: 2rem;
        }
    }

    &.correct {
        background-color: $lightComplete;
        color: $lightModeTextColor;

        .result {
            .icon {
                background-color: $lightModeTextColor;
                color: $lightComplete;
            }
        }
    }

    .detail-buttons {
        display: flex;
        flex-direction: column;
        row-gap: 0.5rem;
        
        .icon {
            &.time {
                background-color: $active;
                color: $lightModeTextColor;
            }
    
            &.context {
                background-color: $royalPurple;
                color: $darkModeTextColor;
            }
        }
    }
}