@use "../../common/styles/index" as *;

.word-selection {
    align-items: center;
    display: flex;

    .icon {
        margin-right: 1rem;
    }
    
    .check {
        background-color: $complete;
        color: $lightModeTextColor;
    }
    
    .x {
        background-color: $crimson;
        color: $darkModeTextColor;
    }
}