@use "../../styles/index" as *;

// need to combine classes for increased specificity
// to override poorly structured defaults
.tooltip {
    @include padding(1.75);
    @include box-shadow();
    @extend %rounded-border;
    border: $borderThickness solid $gray;
    background-color: $lightBlack;
    font-size: $tooltipFontSize;
    max-width: max(20vw, 20rem);
    opacity: 1;
    text-align: center;
    width: max-content;

    .tooltip-arrow {
        fill: $gray;

        path {
            stroke: $gray;
            stroke-width: $borderThickness;
        }
    }
}