@use "../common/styles/index" as *;
@use "../styles/index" as *;

$quizStatusHeight: 3rem;
$quizStatusSpacing: calc($sectionSpacing * 2);
$promptHeight: 13rem;
$promptFontSize: 4rem;
$answerInputHeight: 5rem;
$answerInputWidth: 7rem;

.kana-quiz-page {
    @extend %page;
    row-gap: 2rem;

    .quiz-status {
        align-items: center;
        column-gap: 3rem;
        display: flex;
        font-size: $largeFontSize;
        height: $quizStatusHeight;
        justify-content: center;
        margin-bottom: $quizStatusSpacing;

        .status-number {
            align-items: center;
            display: flex;
            justify-content: center;

            .icon {
                margin-right: 0.5rem;
            }

            .correct {
                background-color: $complete;
            }

            .incorrect {
                background-color: $crimson;
            }

            .remaining {
                background-color: $active;
            }
        }
    }

    .prompt-and-answer-input {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: calc(40% - $quizStatusHeight - $quizStatusSpacing); // adjust on PC?
        row-gap: 3rem;

        .prompt {
            align-items: center;
            display: flex;
            flex-direction: column;
            height: $promptHeight;
            justify-content: center;
            row-gap: 0.5rem;
            
            .prompt-question {
                @extend %rounded-border;
                @include padding(3);
                border: $borderThickness solid $lightNavy;
                font-size: $promptFontSize;
                font-weight: $fontWeightBold;

                &.large-word {
                    font-size: calc($promptFontSize - 0.65rem);
                }
            }

            .prompt-context {
                font-size: $smallFontSize;
                font-style: italic;
            }
        }
    
        .answer-input {
            align-items: center;
            column-gap: 1rem;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            row-gap: 1rem;

            .choice-button {
                @include button-press($lightNavy);
                background-color: $lightNavy;
                font-size: $largeFontSize;
                height: $answerInputHeight;
                width: $answerInputWidth;

                &.is-selection {
                    @include button-press($active);
                    background-color: $active;
                    color: $lightModeTextColor;
                }
            }

            input {
                font-size: $largeFontSize;
                height: $answerInputHeight;
                width: $answerInputWidth;
            }
        }

        .submit-choice-button {
            @include button-press($active);
            background-color: $active;
            color: $lightModeTextColor;
            font-weight: $fontWeightBold;
            width: 15rem;
        }
    }
}

@media (max-height: $landscapeMobileHeightThreshhold) {
    .kana-quiz-page {    
        .quiz-status {
            margin-bottom: 0;
        }
    }
}

@media (hover: hover) and (pointer: fine) {
    .kana-quiz-page {
        .prompt-and-answer-input {
            .answer-input {
                .choice-button {
                    &:not(.is-selection):hover {
                        @include button-press($gold);
                        background-color: $gold;
                    }

                    &:hover {
                        @include button-press($lightActive);
                        background-color: $lightActive;
                    }
                }
            }

            .submit-choice-button {
                &:hover {
                    @include button-press($gold);
                    background-color: $gold;
                }
            }
        }
    }
}