@use "../common/styles/index" as *;
@use "../common/components/searchbar/Searchbar.scss" as *;

.kana-selection-page {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;

    .call-to-action {
        font-size: $smallFontSize;
        margin-bottom: calc($sectionSpacing / 2);
    }

    .actions-bar {
        @include padding(0.5);
        align-items: center;
        display: flex;
        column-gap: calc($sectionSpacing / 2);
        justify-content: space-between;
        margin-bottom: calc($sectionSpacing / 1.25);
        width: 100%;

        .search {
            flex-grow: 1;
        }
    }

    .selection-tabset {
        height: 75%;
    }
}