@use "../common/styles/index" as *;
@use "../styles/index" as *;

$quizStatusHeight: 3rem;
$promptMinHeight: 11rem;
$promptMaxHeight: 13rem;
$promptFontSize: 4rem;
$answerInputHeight: 5rem;
$answerInputWidth: 7rem;

.kana-quiz-page {
    @extend %page;
    position: relative;
    row-gap: 3rem;

    .quiz-status {
        align-items: center;
        column-gap: 3rem;
        display: flex;
        font-size: $largeFontSize;
        height: $quizStatusHeight;
        justify-content: center;
        margin-bottom: $sectionSpacing;

        .status-number {
            align-items: center;
            display: flex;
            justify-content: center;

            .icon {
                margin-right: 0.5rem;
            }

            .correct, .remaining {
                color: $lightModeTextColor;
            }

            .correct {
                background-color: $complete;
            }

            .incorrect {
                background-color: $crimson;
            }

            .remaining {
                background-color: $active;
            }
        }
    }

    .prompt-and-answer-input {
        align-items: center;
        display: flex;
        flex-direction: column;
        row-gap: 3rem;

        .prompt {
            align-items: center;
            display: flex;
            flex-direction: column;
            max-height: $promptMaxHeight;
            min-height: $promptMinHeight;
            justify-content: space-between;
            row-gap: 0.5rem;
            
            .prompt-question {
                @extend %rounded-border;
                @include padding(3);
                border: $borderThickness solid $lightNavy;
                font-size: $promptFontSize;
                font-weight: $fontWeightBold;

                &.large-word {
                    font-size: calc($promptFontSize - 0.65rem);
                }
            }
        }
    
        .answer-input {
            align-items: center;
            column-gap: 1rem;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            row-gap: 1rem;

            .choice-button {
                @include button-press($lightNavy);
                background-color: $lightNavy;
                font-size: $largeFontSize;
                height: $answerInputHeight;
                width: $answerInputWidth;

                &.is-selection {
                    @include button-press($active);
                    background-color: $active;
                    color: $lightModeTextColor;
                }
            }

            input {
                font-size: $largeFontSize;
                height: $answerInputHeight;
                width: $answerInputWidth;
            }
        }
    }

    $buttonHorizontalPadding: 3rem;
    .submit-choice-button {
        @include button-press($active);
        background-color: $active;
        color: $lightModeTextColor;
        font-weight: $fontWeightBold;
        margin-bottom: $sectionSpacing;
        padding-left: $buttonHorizontalPadding;
        padding-right: $buttonHorizontalPadding;
    }

    .question-result {
        @include padding(3);
        background-color: $lightRed;
        border-radius: $borderRadius $borderRadius 0 0;
        bottom: 0;
        color: $darkModeTextColor;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: fixed;
        row-gap: 1rem;
        width: 100%;

        .question-result-title {
            align-items: center;
            display: flex;
            font-size: $largeFontSize;
            font-weight: $fontWeightSuperBold;

            .icon {
                background-color: $darkModeTextColor;
                color: $lightRed;
                margin-right: 0.75rem;
            }
        }
        
        .next-question-button {
            @include button-press($crimson);
            align-items: center;
            align-self: center;
            background-color: $crimson;
            font-weight: $fontWeightBold;
            padding-left: $buttonHorizontalPadding;
            padding-right: $buttonHorizontalPadding;
            width: fit-content;
        }

        &.correct {
            background-color: $lightComplete;
            color: $lightModeTextColor;

            .question-result-title {
                .icon {
                    background-color: $lightModeTextColor;
                    color: $lightComplete;
                }
            }
            
            .next-question-button {
                @include button-press($complete);
                background-color: $complete;
                color: $lightModeTextColor;
            }
        }
    }

    .prompt-context {
        font-size: $smallFontSize;
        font-style: italic;
    }
}

@media (max-height: $landscapeMobileHeightThreshhold) {
    .kana-quiz-page {
        row-gap: 1.5rem;

        .quiz-status {
            margin-bottom: 0;
        }

        .prompt-and-answer-input {
            row-gap: 1rem;
        }
    }
}

@media (hover: hover) and (pointer: fine) {
    .kana-quiz-page {
        .prompt-and-answer-input {
            .answer-input {
                .choice-button {
                    &:not(.is-selection):hover {
                        @include button-press($gold);
                        background-color: $gold;
                    }

                    &:hover {
                        @include button-press($lightActive);
                        background-color: $lightActive;
                    }
                }
            }

            .submit-choice-button {
                &:hover {
                    @include button-press($gold);
                    background-color: $gold;
                }
            }
        }

        .question-result {
            .next-question-button {
                &:hover {
                    @include button-press($gold);
                    background-color: $gold;
                }
            }
        }
    }
}