@use "../styles/index" as *;
@use "../common/components/tabs/TabHeader.scss" as *;
@use "../common/components/searchbar/Searchbar.scss" as *;

$sectionMargin: 5rem;
.quiz-selection-page {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;

    $optionsBarHeight: 5rem;
    .options-bar {
        align-items: center;
        display: flex;
        height: $optionsBarHeight;
        justify-content: center;
        margin-bottom: $sectionSpacing;
        position: relative;
        width: 100%;

        .button {
            position: absolute;
            right: calc(($optionsBarHeight - $mediumIconSize - $padding) / 2);
        }
    }

    $headerDistance: calc($tabHeaderHeight + $inputHeight + $sectionSpacing);
    .quiz-types {
        @extend %rounded-border;
        background-color: $mediumGray;
        display: grid;
        gap: 2rem;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        height: calc(80% - $headerDistance);
        margin-top: $headerDistance;
        padding: 2rem;
        width: 100%;

        .quiz-type {
            align-self: center;
            justify-self: center;
        }
    }
}