@use "../styles/index" as *;
@use "../common/styles/index" as *;

.quiz-summary-page {
    @extend %page;
    row-gap: 2rem;

    .call-to-action {
        @extend %call-to-action;
        margin-bottom: 0;
    }

    .display-section {
        .display-section-items {
            .topic-selections {
                align-items: center;
                display: flex;
                flex-direction: column;
                height: 100%;
    
                .button-group {
                    background-color: $lightNavy;
                    width: fit-content;
                    margin-bottom: $sectionSpacing;
                    
                    .button {
                        @include button-press($lightNavy);
                        background-color: $lightNavy;
                        border: 1px solid shadowColor($lightNavy);
    
                        &.is-active {
                            @include button-press($active);
                            background-color: $active;
                            border: none;
                        }
                    }
                }
    
                .topic-selections-items {
                    @extend %rounded-border;
                    @extend %padding;
                    background-color: $lightNavy;
                    column-gap: 0.5rem;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: nowrap;
                    justify-content: center;
                    row-gap: 0.75rem;
                    width: 100%;
                    
                    $approxButtonHeight: calc(2rem + $buttonShadowHeight + $padding);
                    $approximateButtonGroupHeight: calc($approxButtonHeight + ($buttonGroupPadding * 2));
                    &.topic-is-kana {
                        max-height: calc(100% - $approximateButtonGroupHeight - $sectionSpacing);
                    }
                    
                    .kana-selections-container {
                        display: flex;
                        flex-direction: column;
                        row-gap: 0.2rem;
                        overflow-y: auto;
                    }
                }
            }
        }

    }
}

@media (max-width: $sizeWidthThreshhold) {
    .quiz-summary-page {
        .display-section {
            &:has(.topic-selections-items.topic-is-kana) {
                min-height: 35%;
            }
        }
    }
}

@media (hover: hover) and (pointer: fine) {
    .quiz-summary-page {
        .display-section {
            .display-section-items {
                .topic-selections {
                    .button-group {
                        &:not(.disabled) {
                            .button {
                                &:not(.is-active):hover {
                                    @include button-press($gold);
                                    background-color: $gold;
                                    border: 1px solid $gold;
                                    color: $lightModeTextColor;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}