@use "../styles/index" as *;
@use "../common/components/tabs/TabHeader.scss" as *;
@use "../common/components/searchbar/Searchbar.scss" as *;

$sectionMargin: 5rem;
.quiz-selection-page {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;

    .quiz-types {
        @extend %rounded-border;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        height: 80%;
        width: 100%;

        .quiz-type {
            align-self: center;
            justify-self: center;
        }
    }

    .quiz-selection-status {
        @include padding(0.5);
        @extend %rounded-border;
        align-items: center;
        background-color: $navyBlack;
        display: flex;
        flex-direction: column;
        height: 17%;
        justify-content: space-between;
        margin-top: calc($sectionSpacing / 3);
        width: 100%;
    }
}

@media (max-width: $sizeWidthThreshhold) {
    .quiz-selection-page {
        .quiz-types {
            gap: 1rem;
            padding: 0.75rem;
        }
    }
}