@use "../styles/index" as *;
@use "../common/styles/index" as *;
@use "../common/components/toggle-button/ToggleButton.scss" as *;

$summaryTitleHeight: calc($mediumFontSize + ($sectionSpacing / 2));

.quiz-summary-page {
    @extend %page;
    row-gap: 2rem;

    .call-to-action {
        font-size: $smallFontSize;
    }

    .summary-title {
        font-weight: $fontWeightSuperBold;
        text-align: center;
        width: 100%;
    }

    .selections-summary {
        @extend %rounded-border;
        @extend %padding;
        background-color: $darkNavy;
        max-height: 45%;
        min-height: 25%;

        .summary-title {
            margin-bottom: calc($sectionSpacing / 2);
        }

        .summary-items {
            display: flex;
            flex-direction: column;
            height: calc(100% - $padding - $summaryTitleHeight);
            row-gap: 0.75rem;
        }

        .topic-selections {
            align-items: center;
            display: flex;
            flex-direction: column;
            height: calc(100% - $padding - $summaryTitleHeight);

            .toggle-button {
                background-color: $lightNavy;
                width: fit-content;
                margin-bottom: $sectionSpacing;
                
                .toggle-button-item {
                    background-color: $lightNavy;

                    &.active {
                        background-color: $active;
                    }
                }
            }

            .topic-selections-items {
                column-gap: 0.5rem;
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                height: calc(100% - $sectionSpacing);
                justify-content: center;
                overflow-y: auto;
                row-gap: 0.75rem;
                width: 100%;
                
                &.topic-is-kana {
                    height: calc(100% - $toggleButtonHeight - $sectionSpacing);
                    justify-content: flex-start;
                    row-gap: 0.2rem;
                }
            }
        }
    }
}

@media (max-width: $sizeWidthThreshhold) {
    .quiz-summary-page {
        .selections-summary {
            &:has(.topic-selections-items.topic-is-kana) {
                min-height: 35%;
            }
        }
    }
}

@media (hover: hover) and (pointer: fine) {
    .quiz-summary-page {
        .toggle-button {
            &:not(.disabled) {
                .toggle-button-item {
                    &:hover {
                        background-color: $gold;
                        color: $lightModeTextColor;
                        cursor: pointer;
                    }
        
                    &.active {
                        background-color: $active;
                        color: $lightModeTextColor;
                    }
                }
            }
        }
    }
}