@use "../common/styles/index" as *;
@use "../common/components/tabs/TabHeader.scss" as *;
@use "../common/components/searchbar/Searchbar.scss" as *;

.quiz-selection-page {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    row-gap: 3rem;

    .welcome-message {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .welcome-title {
            font-size: $largeFontSize;
        }

        .call-to-action {
            font-size: $smallFontSize;
            margin-top: $sectionSpacing;
        }
    }

    .quiz-options {
        align-items: center;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;

        .quiz-selection-section {
            width: 100%;
    
            .direction-indicator {
                align-items: center;
                display: flex;
                justify-content: space-between;
            }
        }
    }

    .number-input-title {
        font-size: $smallFontSize;
    }
}