@use "../styles/index" as *;
@use "../common/styles/index" as *;
@use "../components/quiz-selection-section/QuizSelectionSection.scss" as *;

.word-selection-page {
    @extend %page;
    row-gap: 3rem;

    .call-to-action {
        @extend %call-to-action;
    }

    .word-options {
        align-items: center;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
    }
}