@use "../../common/styles/index" as *;
@use "../../styles/index" as *;

$welcomeMessageSpacing: calc($sectionSpacing * 1.5);

.welcome-message-modal {
    @extend %modal;
    row-gap: 2.5rem;
    text-align: center;
    
    .welcome-message-title {
        align-items: center;
        display: flex;
        flex-direction: column;
        font-size: $largeFontSize;
        font-weight: $fontWeightSuperBold;
        margin-bottom: $welcomeMessageSpacing;

        $iconFontSize: 4rem;
        $iconSize: 6rem;
        .icon {
            color: $crimson;
            font-size: $iconFontSize;
            height: $iconSize;
            width: $iconSize;
        }
    }

    .welcome-message-get-started {
        color: $gold;
    }

    .close-welcome-message-button {
        @include button-press($active);
        background-color: $active;
        color: $lightModeTextColor;
        margin-top: $welcomeMessageSpacing;
        font-weight: $fontWeightBold;
    }
}

@media (hover: hover) and (pointer: fine) {
    .welcome-message-modal {
        .close-welcome-message-button {
            &:hover {
                @include button-press($gold);
                background-color: $gold;
            }
        }
    }
}