@use "../../styles/index" as *;

$inputHeight: 3rem;
$maxSearchResultsHeight: 30rem;

.open-modal-button {
    background-color: $darkNavy;
}

.search {
    position: relative;

    .search-form {
        @extend %padding;
        @extend %rounded-border;
        align-items: center;
        background-color: $darkNavy;
        display: flex;
        justify-content: center;

        &.showing-results {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        .search-icon {
            color: $darkModeTextColor;
            margin-right: 0.5rem;
        }

        .clear-search-button {
            @include padding(0.5);
            background-color: transparent;
            margin-right: calc($padding * -0.75);
        }

        input {
            &::placeholder {
                color: $nonFocusedDarkModeTextColor;
            }

            &::-webkit-search-decoration,
            &::-webkit-search-cancel-button,
            &::-webkit-search-results-button,
            &::-webkit-search-results-decoration {
                display: none;
            }
        }
    
        .search-input {
            background-color: $darkNavy;
            border: none;
            color: $darkModeTextColor;
            height: $inputHeight;
            width: 100%;
        }
    }
    
    .search-results-container {
        @include box-shadow();
        @extend %padding;
        background-color: $darkNavy;
        border-bottom-left-radius: $borderRadius;
        border-bottom-right-radius: $borderRadius;
        border-top: $borderThickness solid $richBlack;
        max-width: 100%;
        width: 100%;
        z-index: $overlayZIndex;

        .search-results {
            align-items: flex-start;
            column-gap: 2%;
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: flex-start;
            max-height: $maxSearchResultsHeight;
            overflow-y: auto;
            row-gap: 2%;

            &:has(.no-results) {
                justify-content: center;
            }

            .no-results {
                align-items: center;
                color: $darkModeTextColor;
                display: flex;
                font-style: italic;
                font-size: $smallFontSize;
            }
        }
    }
}

@media (hover: hover) and (pointer: fine) {
    .search {
        .search-form {
            .clear-search-button {
                &:hover {
                    color: $gold;
                }
            }
        }
    }
}