@use "../../styles/index" as *;

.modal {
    background-color: transparent;
    border: none;
    overflow: visible;
    padding: 0;
    width: fit-content;

    &::backdrop {
        background-color: $backdropColor;
    }

    .close-modal-button {
        @extend %disable-button-press;
        background-color: transparent;
        position: fixed;
        top: $padding;
        right: $padding;
    }
}

@media (hover: hover) and (pointer: fine) {
    .modal {
        .close-modal-button {
            &:hover {
                cursor: pointer;
                background-color: transparent;
                color: $gold;
            }
        }
    }
}