@use "../../styles/index" as *;

.modal {
    background-color: transparent;
    border: none;
    padding: 0;
    width: 90%;

    &::backdrop {
        background-color: $backdropColor;
    }

    .close-modal-button {
        background-color: transparent;
        position: fixed;
        top: $padding;
        right: $padding;
    }
}