@use "../../common/styles/index" as *;

$headerHeight: 5rem;
$headerSpacing: calc($sectionSpacing / 3);
.header {
    align-items: center;
    display: flex;
    height: $headerHeight;
    justify-content: center;
    margin-bottom: $headerSpacing;
    position: relative;
    width: 100%;

    .logo {
        align-items: center;
        display: flex;
        font-weight: $fontWeightBold;
        position: absolute;
        left: calc(($headerHeight - $mediumIconSize - $padding) / 2);
        color: white;

        .icon {
            color: $crimson;
            margin-bottom: 0.25rem;
        }
    }

    .toggle-switch {
        position: absolute;
        right: calc(($headerHeight - $mediumIconSize - $padding) / 2);
    }
}