@use "../../common/styles/index" as *;
@use "../../styles/index" as *;

.header {
    align-items: center;
    display: flex;
    height: $headerHeight;
    justify-content: center;
    margin-bottom: $headerSpacing;
    position: relative;

    .logo {
        @include padding(0.5);
        align-items: center;
        background-color: transparent;
        display: flex;
        font-weight: $fontWeightBold;
        position: absolute;
        left: 0;
        color: white;

        .icon {
            color: $crimson;
            margin-bottom: 0.25rem;
        }
    }

    .header-actions {
        position: absolute;
        right: 0;

        .button {
            background-color: transparent;
        }
    }
}

@media (hover: hover) and (pointer: fine) {
    .header {
        .logo {
            &:hover {
                cursor: pointer;
            }
        }

        .header-actions {
            .button {
                &:hover {
                    cursor: pointer;
                    background-color: transparent;
                    color: $gold;
                }
            }
        }
    }
}