@use "../../styles/index" as *;

.button {
    @extend %padding;
    @extend %rounded-border;
    align-items: center;
    background-color: $trueGray;
    column-gap: 0.5rem;
    display: flex;
    justify-content: space-evenly;

    &:disabled {
        cursor: auto;
        background-color: $richBlack;
    }
}

@media (hover: hover) and (pointer: fine) {
    .button {
        &:hover {
            cursor: pointer;
            background-color: $gold;
            color: $lightModeTextColor;
        }
        
        &:disabled {
            cursor: auto;
            background-color: $richBlack;
            color: $darkModeTextColor;
        }
    }
}