@use "../../../styles/index" as *;
@use "./Step.scss" as *;

.step-display {
    align-items: flex-start;
    display: flex;
    font-size: $smallFontSize;

    .flag-step {
        background-color: $darkGray;
        border-radius: 50%;
        padding: $stepIconPadding;
    }

    $barHeight: 0.2rem;
    $barSideMargin: 1rem;
    .bar {
        background-color: $lightBlack;
        height: $barHeight;
        margin-top: calc(($largeIconSize / 2) - ($barHeight / 2));
        margin-left: $barSideMargin;
        margin-right: $barSideMargin;
        width: 4rem;

        &.active {
            background-color: $active;
        }

        &.complete {
            background-color: $complete;
        }
    }
}