@use "../../../styles/index" as *;
@use "./Step.scss" as *;

$barHeight: 0.2rem;
$barSideMargin: 1rem;
$barWidth: 4rem;

.step-display {
    align-items: flex-start;
    display: flex;
    font-size: $smallFontSize;

    .flag-step {
        background-color: transparent;
        border-radius: 50%;
        color: $darkModeTextColor;
        padding: $stepIconPadding;
    }

    .bar {
        background-color: $darkModeTextColor;
        height: $barHeight;
        margin-top: calc(($largeIconSize / 2) - ($barHeight / 2));
        margin-left: $barSideMargin;
        margin-right: $barSideMargin;
        width: $barWidth;

        &.active {
            background-color: $active;
        }

        &.complete {
            background-color: $complete;
        }
    }
}

@media (max-width: $sizeWidthThreshhold) {
    .step-display {
        .bar {
            margin-left: calc($barSideMargin / 4);
            margin-right: calc($barSideMargin / 4);
            width: calc($barWidth / 4);
        }
    }
}