@use "../../styles/index" as *;

.step {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: $mediumIconSize + 1rem;

    .icon {
        background-color: $richGray;
        border-radius: 50%;
        opacity: 0.75;
        padding: $stepIconPadding;
    }

    .title {
        color: $nonFocusedDarkModeTextColor;
        margin-top: 0.1rem;
        text-align: center;
    }

    &.active {
        .icon {
            background-color: $active;
            color: $lightModeTextColor;
            opacity: 1;
        }
        
        .title {
            color: $darkModeTextColor;
            font-weight: $fontWeightBold;
        }
    }
    
    &.complete {
        .icon {
            background-color: $complete;
            color: $lightModeTextColor;
            opacity: 1;
        }
    }
}

@media (max-width: $sizeWidthThreshhold) {
    .step {
        .title {
            font-size: $miniFontSize;
        }
    }
}