@use "../../styles/index" as *;

$stepIconPadding: 0.65rem;

.step {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: $largeIconSize + 1rem;

    .icon {
        background-color: $trueGray;
        border-radius: 50%;
        padding: $stepIconPadding;
    }

    .title {
        color: $nonFocusedDarkModeTextColor;
        margin-top: 0.1rem;
        text-align: center;
    }

    &.active {
        .icon {
            background-color: $active;
            color: $lightModeTextColor;
        }
    }
    
    &.complete {
        .icon {
            background-color: $complete;
            color: $lightModeTextColor;
        }
    }
}

@media (max-width: $sizeWidthThreshhold) {
    .step {
        .title {
            font-size: $miniFontSize;
        }
    }
}