@use "../../common/styles/index" as *;

.quiz-selections-display {
    align-items: center;
    color: $trueRed;
    display: flex;
    flex-direction: column;
    font-weight: $fontWeightBold;
    height: 3rem;
    justify-content: center;
    width: 100%;

    .step-display {
        :not(.flag-step) {
            .icon {
                color: $lightModeTextColor;
            }
        }

        .crimson {
            .icon {
                background-color: $crimson;
            }
        }
    
        .lightgreen {
            .icon {
                background-color: $complete;
            }
        }
    
        .lightskyblue {
            .icon {
                background-color: $active;
            }
        }
    
        .gold {
            .icon {
                background-color: $gold;
            }
        }
    }
}