@use "../../styles/index" as *;

.quiz-selections-display {
    @extend %padding;
    @extend %rounded-border;
    align-items: center;
    background-color: $mediumGray;
    display: flex;
    justify-content: center;
    margin-top: $sectionSpacing;
    width: 100%;

    .crimson {
        .icon {
            background-color: crimson;
        }
    }

    .lightgreen {
        .icon {
            background-color: lightgreen;
        }
    }

    .lightskyblue {
        .icon {
            background-color: lightskyblue;
        }
    }

    .gold {
        .icon {
            background-color: gold;
        }
    }

    .flag-step {
        background-color: transparent;
    }
}