@use "../../common/styles/index" as *;

$quizSelectionSectionHeight: 6rem;
$quizSelectionSectionContentWidth: 58%;

.quiz-selection-section {
    @extend %rounded-border;
    @extend %padding;
    align-items: center;
    background-color: $darkNavy;
    display: flex;
    height: $quizSelectionSectionHeight;
    justify-content: space-between;
    padding-right: calc($padding / 2);

    .section-content {
        width: $quizSelectionSectionContentWidth;
    }
    
    .section-title {
        align-items: center;
        display: flex;

        &:has(.help-tooltip) {
            .section-title-text {
                margin-right: 0.5rem;
            }
        }
    }
}