@use "../../common/styles/index" as *;

$quizSelectionSectionHeight: 6rem;

.quiz-selection-section {
    @extend %rounded-border;
    @extend %padding;
    align-items: center;
    background-color: $darkNavy;
    display: flex;
    height: $quizSelectionSectionHeight;
    justify-content: space-between;
    padding-right: calc($padding / 2);

    .section-content {
        width: 58%;
    }
    
    .section-title {
        align-items: center;
        display: flex;

        .help-tooltip {
            margin-left: 0.5rem;
        }
    }
}