@use "../../styles/index" as *;

$stepTitleMargin: 1rem;

.step-wizard {
    @include padding(2);
    @extend %rounded-border;
    align-items: center;
    background-color: $darkNavy;
    display: flex;
    height: 12rem;
    justify-content: space-around;
    width: 100%;
    
    button {
        background-color: $lightNavy;
        font-size: $mediumFontSize;
    }

    $iconSpaceAdjustment: calc($mediumIconSize * -0.35);
    .back-button {
        .icon {
            margin: 0 $iconSpaceAdjustment;
        }
    }

    .next-button {
        &.blocked-by-condition {
            background-color: $crimson;
            opacity: $disabledOpacity;
        }

        .icon {
            margin: 0 $iconSpaceAdjustment;
        }
    }

    .steps-content {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        width: 50%;
        
        &:has(.step-text) {
            justify-content: space-evenly;
        }

        .step-text {
            color: $unsaturatedGold;
            font-weight: $fontWeightBold;
            margin-top: $stepTitleMargin;
            text-align: center;
        }
    }
}

@media (max-width: $sizeWidthThreshhold) {
    .step-wizard {
        @include padding(0.5);

        button {
            font-size: $smallFontSize;
        }
    
        .steps-content {
            .step-text {
                font-size: $smallFontSize;
                margin-top: calc($stepTitleMargin / 3);
            }
        }
    }
}
