@use "../../../styles/" as *;

$buttonSpacing: 2%;
$stepTitleMargin: 1rem;

.step-carousel {
    @include padding(2);
    @extend %rounded-border;
    align-items: center;
    background-color: $mediumGray;
    display: flex;
    height: 12rem;
    justify-content: space-between;
    width: 100%;
    
    button {
        font-size: $mediumFontSize;
    }

    .back-button {
        margin-right: $buttonSpacing
    }

    .next-button {
        margin-left: $buttonSpacing;
    }

    .steps-content {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        width: 50%;

        .step-text {
            font-weight: $fontWeightBold;
            margin-top: $stepTitleMargin;
            text-align: center;
        }
    }
}

@media (max-width: $sizeWidthThreshhold) {
    .step-carousel {
        @include padding(0.5);

        button {
            font-size: $smallFontSize;
        }
    
        .steps-content {
            .step-text {
                font-size: $smallFontSize;
                margin-top: calc($stepTitleMargin / 3);
            }
        }
    }
}
