@use "../../styles/index" as *;

$tabPadding: 2rem;
$tabMobilePadding: 0.75rem;

.tab {
    padding: $tabPadding;
    height: 100%;
    column-gap: 0.5rem;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    row-gap: 0.2rem;
}

@media (max-width: $sizeWidthThreshhold) {
    .tab {
        padding: $tabMobilePadding;
    }
}