@use "../../styles/index" as *;

$tabHeaderBorderRadius: 1.5rem;
$tabHeaderHeight: 3.2rem;
$tabHeaderWidth: 10rem;

.tab-header {
    align-items: center;
    background-color: $trueGray;
    border-right: 1px solid $richBlack;
    border-top-left-radius: $tabHeaderBorderRadius;
    border-top-right-radius: $tabHeaderBorderRadius;
    display: flex;
    font-size: $smallFontSize;
    height: $tabHeaderHeight;
    justify-content: center;
    width: $tabHeaderWidth;
    
    &.active {
        background-color: $navyBlack;
        font-weight: $fontWeightBold;
    }
}

@media (hover: hover) and (pointer: fine) {
    .tab-header {
        &:hover {
            background-color: $active;
            color: $lightModeTextColor;
            cursor: pointer;
        }

        &.active {
            background-color: $navyBlack;
            color: $darkModeTextColor;
        }
    }
}