@use "../../../styles//index" as *;

$tabHeaderBorderRadius: 1.5rem;
$tabHeaderHeight: 4rem;
$tabHeaderWidth: 16rem;

.tab-header {
    align-items: center;
    background-color: $lightGray;
    border-top-left-radius: $tabHeaderBorderRadius;
    border-top-right-radius: $tabHeaderBorderRadius;
    display: flex;
    height: $tabHeaderHeight;
    justify-content: center;
    width: $tabHeaderWidth;
    
    &:hover {
        background-color: $mediumGray;
        cursor: pointer;
    }
    
    &.active {
        background-color: $darkGray;
        font-weight: $fontWeightBold;
    }
}